#! /bin/bash
{% for key, value in kafka_connect_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}

echo "Kill the Distributed Kafka Connect Worker Node"
ps aux | grep ConnectDistri | grep -v grep | awk '{print $2}' | xargs -I{}  kill {} 
